

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    border-style: none;
}
body{
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header{
    width: 58%;
    height: 409px;
    margin: 128px 0px 100px 0px;
    container: header/size;
    img{
        margin-bottom: 128px;
    }
    .hero{
        h1{
            font-size: 6.24cqw;
        }
        h3{
            margin: 32px 0px;
        }
        div {
            width: 270px;
            height: 69px;
            padding: 24px;
            background-color: #BDBDBD;
            display: inline-flex;
            justify-content: center;

            a{
                color: #000000;
            }
        }
    }
}
main,
#order,
footer{
    margin: 100px 0px;
}
main{
    #title{
        margin-bottom: 64px;
        #selection{
            font-weight: 300;
            text-transform: uppercase;
            color: #373737;
        }
        h2{
            margin: 24px 0px;
        }
        #H-L{
            display: inline-block;
            width: 640px;
        }
    }
    #content{
        width: 1122px;
        height: 656px;
        display: flex;
        justify-content: space-between;
        article{
            width: 321px;
            text-align: start;
           img{
                width: 321px;
           }
            
            h2{
                margin: 24px 0px;
            }
            p{
                margin: 12px 0px;
            }
        }
    }
}
#order{
    background-color: #BDBDBD;
    width: 1072px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 99px 128px;
    p{
        font-size: 24px;
        font-weight: 400px;
        margin-bottom: 32px;
    }
    .order-button{
        width: 131px;
        height: 69px;
        background-color: #000000;
        color: white;
        border-style: none;
        padding: 16px
       
    }
}
footer{
    .contact-info{
        address{
            .phone-number{
                margin: 24px 0px;
                font-size: 42px;
            }
        }
    }
    .social-links{
        margin: 28px 0px 20px 0px;
        width: 216px;
        height: 48px;
        display: inline-flex;
        justify-content: space-between;
    }
}
small{
    margin-bottom: 32px;
}
@media screen and (max-width: 575px) {
    h1{
        font-size: 32px;
        font-weight: 700px;
    }
    h2{
        font-size: 28px;
        font-weight: 700px;
    }
    h3{
        font-size: 24px;
        font-weight: 300px;
        color: #373737;
    }
    p,a{
        font-size: 14px;
        font-weight: 400px;
        text-decoration: none;
        color: #000000;
    }
    header{
    display: inherit-flex;
    width: 350px;
    height: 405px;
    margin: 128px 0px 100px 0px;
    }
    main,
    #order,
    footer{
        margin: 50px 0px;
    }
    main{
        width: 266px;
        height: 1905px;
        #title{
            height: 161px;
            #H-L{
                width: 266px;
                height: 64ox;
            }
        }
        #content{
            width: 266px;
            height: 1680px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            article{
                width: 266px;
                height: 550px;
               img{
                    width: 266px;
               }
                
                h2{
                    margin: 24px 0px;
                }
                p{
                    margin: 12px 0px;
                }
            }
            :nth-child(2){
                margin: 15px;
            }
        }
    }
    #order{
        width: 350px;
        height: 147px;
        padding: 14px 15px;
        p{
            font-size: 14px;
        }
        button{
            width: 74px;
            height: 39px;  
        }
    }
    footer{
        #social-links{
            margin: 100px 0px 200px 0px;
        }
    }
}
