*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 48px;
    font-weight: 700px;
}
h2{
    font-size: 36px;
    font-weight: 700px;
}
h3{
    font-size: 24px;
    font-weight: 300px;
    color: #373737;
}
p,a{
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    color: #000000;
}
header{
    display: inherit-flex;
    width: 708px;
    height: 409px;
    margin: 128px 0px 100px 0px;
    img{
        margin-bottom: 128px;
    }
    h3{
        margin: 32px 0px;
    }
    section{
        div{
            display: flex;
            justify-content: center;
            a{
                width: 270px;
                height: 69px;
                background-color: #BDBDBD;
                padding: 24px;
                text-decoration: none;
                
             }
        }
    }
}
main,
#order,
footer{
    margin: 100px 0px;
}
main{
    #title{
        margin-bottom: 64px;
        #selection{
            font-weight: 300;
            text-transform: uppercase;
            color: #373737;
        }
        h2{
            margin: 24px 0px;
        }
        #H-L{
            display: inline-block;
            width: 640px;
        }
    }
    #content{
        width: 1122px;
        height: 656px;
        display: flex;
        justify-content: space-between;
        article{
            width: 321px;
            text-align: start;
           img{
                width: 321px;
           }
            
            h2{
                margin: 24px 0px;
            }
            p{
                margin: 12px 0px;
            }
        }
    }
}
#order{
    background-color: #BDBDBD;
    width: 1072px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 99px 128px;
    p{
        font-size: 24px;
        font-weight: 400px;
        margin-bottom: 32px;
    }
    button{
        width: 131px;
        height: 69px;
        background-color: #000000;
        color: white;
        border-style: none;
       
    }
}
footer{
    
    h1{
        margin: 24px 0px;
    }
    #social-links{
        margin: 128px 0px 200px 0px;
        width: 216px;
        height: 48px;
        display: inline-flex;
        justify-content: space-between;
    }
}
small{
    margin-bottom: 32px;
}
@media screen and (max-width: 575px) {
    h1{
        font-size: 32px;
        font-weight: 700px;
    }
    h2{
        font-size: 28px;
        font-weight: 700px;
    }
    h3{
        font-size: 24px;
        font-weight: 300px;
        color: #373737;
    }
    p,a{
        font-size: 14px;
        font-weight: 400px;
        text-decoration: none;
        color: #000000;
    }
    header{
    display: inherit-flex;
    width: 350px;
    height: 405px;
    margin: 128px 0px 100px 0px;
    }
    main,
    #order,
    footer{
        margin: 50px 0px;
    }
    main{
        width: 266px;
        height: 1905px;
        #title{
            height: 161px;
            #H-L{
                width: 266px;
                height: 64ox;
            }
        }
        #content{
            width: 266px;
            height: 1680px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            article{
                width: 266px;
                height: 550px;
               img{
                    width: 266px;
               }
                
                h2{
                    margin: 24px 0px;
                }
                p{
                    margin: 12px 0px;
                }
            }
            :nth-child(2){
                margin: 15px;
            }
        }
    }
    #order{
        width: 350px;
        height: 147px;
        padding: 14px 15px;
        p{
            font-size: 14px;
        }
        button{
            width: 74px;
            height: 39px;  
        }
    }
    footer{
        #social-links{
            margin: 100px 0px 200px 0px;
        }
    }
}
